.Header{
    position: fixed;
    z-index: var(--z-standar);
    top:0;
    padding-top:var(--header-height);
    margin-left: 0;
    padding-top: 0;
    padding: .5rem;
    width: 100%;
    height:var(--header-height);
    display: flex;
    justify-content: space-between;

}
    
