    
.logo {
    position: fixed;
    z-index: 999;
    top: var(--logo-spacing);
    left: var(--logo-spacing);
    padding: var(--logo-spacing);
    width: var(--logo-width);
    height: var(--logo-height);
    padding-top: 0;  
    @include media-queries(medium){
      position: static;
      width: var(--header-height);
      height: var(--header-height);
      background-color: transparent;
      border-radius: 0;
      padding-top: 0;
    }
  }
