// .menu{
//     margin-bottom: 2rem;    
//     text-align: right;
//     @include media-queries(medium){
//         font-size:1.2vw;
//         grid-area: menu;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         align-content: center;
//         margin-bottom: 0;
//     }
//     ul{
//         @include media-queries(medium){
//             margin-bottom: 0;
//             align-items: center;
//             align-content: space-between;
//             display: flex;
//         }
//         @include media-queries(large){
//             // display:initial;
//             display: flex;
//             justify-content: space-between;
//             margin-bottom: 0;
//         }
//     }
//     li{list-style: none;}

// }
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    .list-menu{
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        &-item{
            padding-left: 20px;
        }
    }
}